* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body #mainNav {
  background-color: #178fd6;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  z-index: 998;
  width: 100%;
  top: 0px;
  left: 0px;
}

@media (max-width: 992px) {
  body #mainNav {
    display: none;
  }
}

body #mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0%;
}

body #mainNav ul li {
  list-style-type: none;
  margin-right: 50px;
}

body #mainNav ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  -webkit-transition: .7s;
  transition: .7s;
}

body #mainNav ul li a:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 2px;
  background: #4fafd1;
  top: 30px;
  left: 1px;
  -webkit-transition: .7s;
  transition: .7s;
}

body #mainNav ul li a:hover:after {
  width: 100%;
}

body #mainNavSide {
  width: 300px;
  padding: 5% 0 5% 0;
  background-color: #178fd6;
  position: fixed;
  z-index: 999;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

body #mainNavSide ul {
  margin-top: 10%;
}

body #mainNavSide ul li {
  margin-top: 20%;
  list-style-type: none;
}

body #mainNavSide ul li a {
  text-decoration: none;
  color: #fff;
}

body #mainNavSide ul li a:hover {
  color: #7EDDFF;
}

body .mainNavSide1 {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
  background-color: #178fd6 !important;
}

body .burgerMenu {
  position: fixed;
  top: 3%;
  left: 2%;
  z-index: 999;
  display: none;
}

@media (max-width: 992px) {
  body .burgerMenu {
    display: block;
  }
}

body .burgerMenu a {
  text-decoration: none;
}

body .burgerMenu a i {
  color: #0083B0;
  font-size: 2em;
}

body .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

body #main {
  background-image: url("../images/main.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body #main #fading {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 131, 176, 0.5) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #main #fading .mainText {
  text-align: center;
  color: #fff;
}

body #main #fading .mainText .divSlide h1, body #main #fading .mainText .divSlide h2, body #main #fading .mainText .divSlide h3 {
  font-size: 2.5em;
}

body #usluge {
  padding-top: 5%;
}

body #usluge h2 {
  font-size: 2.5em;
  color: #0083B0;
}

body #usluge .serviceDiv {
  margin: 3% 0 2% 0;
}

body #usluge .serviceDiv h3 {
  padding: 2% 0 2% 0;
  color: #0083B0;
  font-size: 1.40em;
}

body #usluge .serviceDiv p {
  font-size: 17px;
}

body #nasaMisija {
  padding-top: 5%;
  background: -webkit-gradient(linear, left top, left bottom, from(#00B4DB), to(#0083B0));
  background: linear-gradient(top, #00B4DB, #0083B0);
}

body #nasaMisija .container h3 {
  color: #fff;
  font-size: 2.5em;
}

body #nasaMisija .container .row {
  padding: 3%;
}

body #nasaMisija .container .row p {
  font-size: 18px;
  color: #fff;
}

body #nasaMisija .container .row .sakrij1 {
  display: none;
}

body #nasaMisija .container .row .otkrij {
  display: block;
}

body #nasaMisija .container .row #toggleDugme {
  background-color: #fff;
  padding: 1% 5% 1% 5%;
  color: #0083B0;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

body #nasaMisija .container .row #toggleDugme:hover {
  background-color: #00B4DB;
  color: #fff;
}

body #nasaMisija .container .row #toggleDugme a {
  text-decoration: none;
}

body #kakoSmoPoceli .container h3 {
  font-size: 2.5em;
  color: #0083B0;
  padding-top: 5%;
}

@media (max-width: 992px) {
  body #kakoSmoPoceli .container .row .order1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 992px) {
  body #kakoSmoPoceli .container .row .order2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 992px) {
  body #kakoSmoPoceli .container .row .order3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 992px) {
  body #kakoSmoPoceli .container .row .order4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 992px) {
  body #kakoSmoPoceli .container .row .order5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media (max-width: 992px) {
  body #kakoSmoPoceli .container .row .order6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

body #kakoSmoPoceli .container .row .textPoceli {
  padding-top: 5%;
  padding-bottom: 5%;
}

body #kakoSmoPoceli .container .row .textPoceli h4 {
  color: #0083B0;
  margin-bottom: 3%;
}

body #kakoSmoPoceli .container .row .textPoceli p {
  font-size: 18px;
}

body #kakoSmoPoceli .container .row .slikaPoceli {
  padding-top: 3%;
  padding-bottom: 5%;
}

body #klijenti {
  background: -webkit-gradient(linear, left top, left bottom, from(#00B4DB), to(#0083B0));
  background: linear-gradient(top, #00B4DB, #0083B0);
}

body #klijenti .container h3 {
  font-size: 2.5em;
  color: #fff;
  padding-top: 5%;
}

body #klijenti .container .row {
  padding: 5% 0 5% 0;
}

body #klijenti .container .row .testimonial {
  padding: 0 20% 0 20%;
}

body #klijenti .container .row .testimonial h4 {
  color: #fff;
}

body #klijenti .container .row .testimonial p {
  color: #fff;
}

body #kontakt {
  padding: 5% 10% 5% 10%;
}

body #kontakt .container h3 {
  font-size: 2.5em;
  color: #0083B0;
}

body #kontakt .container .row .divForma form {
  padding-top: 5%;
}

body #kontakt .container .row .divForma form .form-group textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #0083B0;
  resize: none;
}

body #kontakt .container .row .divForma form .form-group input[type=text] {
  border: 1px solid #0083B0;
}

body #kontakt #provera {
  background-color: #178fd6;
  padding: 1% 5% 1% 5%;
  border: none;
}

body #kontakt #provera:hover {
  background-color: #4fafd1;
}

body footer {
  background-color: #178fd6;
  height: auto;
}

body footer .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body footer .container .row #logoFooter {
  padding-top: 5%;
}

body footer .container .row #footerMenu {
  padding-top: 3%;
}

body footer .container .row #footerMenu h3 {
  color: #fff;
}

body footer .container .row #footerMenu nav ul li {
  list-style-type: none;
}

body footer .container .row #footerMenu nav ul li a {
  text-decoration: none;
  color: #fff;
}

body footer .container .row #footerMenu nav ul li a:hover {
  color: #7EDDFF;
}

body .autor {
  padding: 20% 0% 5% 0%;
}

body .autor .autorSlika figure img {
  border-radius: 50%;
}

body .autor .autorText h1 {
  padding-top: 10%;
  font-size: 2em;
  color: #0083B0;
}

body .autor .autorText p {
  font-size: 20px;
}

body #mainNavAutor {
  background-color: #178fd6;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  z-index: 998;
  width: 100%;
  top: 0px;
  left: 0px;
}
/*# sourceMappingURL=style.css.map */